@import 'bootstrap/dist/css/bootstrap';
.navbar{
    background-color: #fdf6ea !important;
}
.search-area{
    padding-top: 30px;
}

.no-right-padding{
    padding-right: 0 !important;
}

.no-left-padding{
    padding-left: 0 !important;
}

.results-block{
    display: inline-block;
    margin-bottom: 1rem;
    background-color: white;
}

#page-content {
    flex: 1 0 auto;
    position: relative;
    min-height: 100vh;
    background: #F5F5F5;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.page-footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height:2.5em;
}

.user-name{
    margin-top: 3.5%;
    padding-right: 5px;
}